<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuy.viewpagerindicatordemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".proxyfragment.TestProxyFragmentActivity"></activity>
        <activity android:name=".SingleTabActivity" />
        <activity android:name=".year.YearActivity" />
        <activity android:name=".spring.SpringActivity" />
        <activity android:name=".moretab.MoreTab2Activity" />
        <activity android:name=".tabmain.TabMainActivity" />
        <activity android:name=".BannerActivity" />
        <activity android:name=".moretab.MoreTabActivity" />
        <activity android:name=".guide.GuideActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>